.slide {
  background-color: white;
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  margin: auto;
}

body {
  width: 900px;
  height: 500px;
  margin: auto;
  font-family: Lato, sans-serif;
}

.title {
  font-size: 30px;
  text-align: center;
  line-height: 1.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  height: 150px;
}

.body {
  font-size: 35px; 
  width: 450px;
  margin: auto;
}
